header {
  position: sticky;
  z-index: 10;
  top: 0;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  height: 21vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
/************** stripe ******************/
.stripe {
  width: 87vw;
  height: 6vh;
  font-size: 24px;
  margin-top: 0.5vh;
  margin-right: 12vw;
  font-weight: 200;
  border-bottom: 1px solid silver;
}
.stripeText {
  margin-left: 3vw;
}
/*********** logo with title ****************/
.logoStripe {
  height: 15vh;
  width: 100vw;
  margin-left: 14vw;
  margin-right: 12vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding-top: 1vh;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 32vw;
}
.logoImage {
  height: 13vh;
  width: 6vw;
}
.logoText {
  width: 20vw;
  margin-top: 3vh;
  text-align: center;
}
.cabinet {
  font-size: 34px;
}
/**************** information icons *************/
.infoIcon {
  display: flex;
  align-items: center;
  width: 3.5vw;
  height: 7vh;
}
.iconsText {
  text-align: center;
  font-size: 14px;
  margin-left: 0.5vw;
}
.smallLetters {
  font-size: 12px;
}
.clock {
  width: 16vw;
  @include flexRowAlignItemsCenter;
}
.phone {
  width: 14vw;
  @include flexRowAlignItemsCenter;
}
.localisation {
  width: 14vw;
  @include flexRowAlignItemsCenter;
}
/************ hidden menu ***************/
.hamburger {
  display: none;
  width: 7vw;
  height: 9vh;
  margin-top: 4vh;
}
.hamburgerLine {
  border-top: 2px solid dimgray;
  margin-bottom: 1.5vh;
}
.hiddenLogoText {
  display: none;
}
/************* second menu stripe  **********/
.menuStripe {
  height: 6vh;
  width: 100vw;
  border-top: 1px solid silver;
}
.navigationList {
  margin-left: 14vw;
}

.navigationList li {
  display: inline-block;
  margin-top: 1.5vh;
  margin-right: 3vw;
}

/************ media width: 1350px *************/
@media only screen and (max-width:1350px) {
  .infoIcon {
    height: 6vh;
  }
}

/************ media width: 1300px *************/
@media only screen and (max-width:1300px) {
  .cabinet {
    font-size: 25px;
  }
  .logoImage {
    height: 10vh;
    width: 6vw;
    margin-top: 1vh;
  }
  .infoIcon {
    width: 3.5vw;
    height: 5.5vh;
  }
}

/************ media width: 812px *************/
@media only screen and (max-width:812px) {
  .stripe {
    width: 100vw;
    height: 5vh;
    font-size: 16px;
    margin-top: 4vh;
    margin-right: 6vw;
    font-weight: 200;
    border-bottom: 1px solid silver;
  }
  .stripeText {
    margin-left: 2vw;
    margin-bottom: 1vh;
  }
  nav {
    height: 23vh;
  }
  .navigationList {
    font-size: 13px;
    margin-top: 1vh;

  }
  /**** logo and title ****/
  .logoStripe {
    margin-right: 6vw;
  }
  .cabinet {
    font-size: 14px;
  }
  .logoText {
    font-size: 13px;
  }
  .logoImage {
    height: 9vh;
    width: 4vw;
    margin-top: 2vh;
  }
  /**** info icons ********/
  .infoIcon {
    width: 3.5vw;
    height: 7.5vh;
  }
  .iconsText {
    text-align: center;
    font-size: 10px;
    margin-left: 0.5vw;
  }
  .smallLetters {
    font-size: 10px;
  }
  .clock {
    width: 16vw;
  }
  .localisation {
    margin-left: 1.5vw;
  }
}


/************ media width: 650px *************/
@media only screen and (max-width: 650px) {

  /**** logo and title *****/
  .hiddenLogoText {
    display: block;
    width: 60vw;
    margin-left: 3vw;
    margin-top: 4vh;
    text-align: center;
    font-size: 15px;
  }
  .logoImage {
    height: 12vh;
    width: 7vw;
  }
  .logoText {
    display: none;
  }
  .cabinet {
    font-size: 16px;
  }
  .logo {
    width: 100vw;
    height: 15vh;
  }
  /****** info icons ******/
  .clock {
    display: none;
  }
  .phone {
    display: none;
  }
  .localisation {
    display: none;
  }
}

/************ media width: 500px *************/
@media only screen and (max-width: 500px) {
  .logoImage {
    height: 10vh;
  }
}
/************ media width: 420px *************/
@media only screen and (max-width: 420px) {
  nav {
    height: 15vh;
  }
  /******** logo and title **********/
  .logoStripe {
    height: 10vh;
    width: 70vw;
    margin-right: 0vw;
  }
  .logo {
    width: 65vw;
  }
  .cabinet {
    font-size: 14px;
  }
  .logoText {
    font-size: 10px;
    margin-top: 2vh;
  }
  .logoImage {
    height: 7vh;
    width: 8vw;
  }
  /******* hidden menu ********/
  .menuStripe {
    display: none;
    border-style: none;
  }
  .menuStripe li {
    font-size: 10px;
  }
  .hamburger {
    display: block;
    height: 2vh;
    width: 6vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 1vh;
    margin-top: 4vh;
  }
  .hamburgerLine {
    width: 6vw;
    margin-bottom: 1vh;
  }

  .hiddenLogoText {
    margin-top: 2.5vh;
    margin-left: 1vw;
    font-size: 12px;
    width: 48vw;
  }
}

/************* stripe *************************/
@media only screen and (max-height: 450px) and (max-width: 800px) {
  .stripe {
    height: 10vh;
    margin-top: 2vh;
  }
}

@media only screen and (max-height: 350px) and (max-width: 600px) {
  .stripe {
    height: 10vh;
    margin-top: 2vh;
  }
}