/*************SERVICE**************/
.aboutService {
  @include flexRowJustContCenter;
  @include mainContainerMargins;
  height: 70vh;
  background-color: rgb(184, 202, 211);
}
.containerService {
  @include flexColumnAlignItemsCenter;
  align-content: flex-start;
  justify-content: center;
  justify-items: flex-start;
  width: 38vw;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
.screenIcon {
  width: 7vw;
  height: 13.5vh;
  margin-bottom: 3vh;
  margin-top: -4vh;
}
.serviceTitle {
  text-align: center;
  margin-bottom: 1.5vh;
  font-weight: 600;
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  font-size: 20px;

}
.surgery {
  width: 35vw;
  height: 35vh;
  margin-bottom: 9vh;
  font-weight: 550;
}
.angiology {
  width: 35vw;
  height: 35vh;
  margin-bottom: 9vh;
  text-align: left;
  font-weight: 550;
}
.serviceList {
  margin-top: 2vh;
  text-align: left;
}
.serviceList li {
  list-style: none;
  text-align: center;
  line-height: 1.7;
}
.plus {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width:1300px) {
  .aboutService {
    height: 80vh;
  }
}
@media only screen and (max-width:1200px) {

  .screenIcon {
    width: 6vw;
    height: 10vh;
    margin-top: -6vh;
  }
}

@media only screen and (max-width: 1024px) {
  .screenIcon {
    height: 8vh;
    margin-top: -11vh;
    margin-bottom: 1.5vh;
  }
}
@media only screen and (max-width:812px) {
  .aboutService {
    height: 155vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .containerService {
    border-style: none;

  }
  .screenIcon {
    margin-top: -75vh;
    margin-bottom: 1vh;
    height: 17vh;
    width: 8vw;
  }
  .surgery {
    margin-top: 1vh;

  }
  .angiology {
    margin-top: 1vh;

  }
}
@media only screen and (max-width: 680px) and (min-height: 450px) {
  .aboutService {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 165vh;
    margin: 0px auto;
  }
  .containerService {
    width: 90vw;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    justify-content: center;
    height: 70vh;
    margin-top: 0px;
  }
  .screenIconSurgery {
    margin-top: -35vh;
  }
  .angiologyIcon {
    margin-top: -10vh;
  }
  .screenIcon {
    margin-bottom: 1vh;
    height: 9vh;
    width: 15vw;
    margin-left: 5vw;
  }
  .serviceTitle {
    width: 90vw;
    font-size: 17px;
  }
  .surgery {
    @include flexColumnAlignItemsCenter;
    align-content: center;
    width: 90vw;
    margin-bottom: 3vh;
    margin-left: 7vw;
    margin-right: 1vw;
  }
  .angiology {
    @include flexColumnAlignItemsCenter;
    align-content: center;
    width: 90vw;
    margin-bottom: 3vh;
    margin-left: 7vw;
    margin-right: 1vw;
  }
  .serviceList li {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media only screen and (max-width: 410px) {
  .serviceList li {
    font-size: 12px;
  }
  .serviceTitle {
    font-size: 15px;
  }
  .serviceList {
    margin-top: 0.5vh;
  }
  .plus {
    font-size: 18px;
  }
  .angiologyIcon {
    margin-top: -15vh;
  }
}

@media only screen and (max-width: 300px) {
  .angiologyIcon {
    display: none;
  }
}

